body {
  font-family: 'Raleway', sans-serif;
  background-color: rgba(205, 162, 216, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#title {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #4B0082;
}

.settingsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setting, #sound-option {
  padding: 5px;
  font-size: 15px;
}

.setting {
  display: flex;
  align-items: center;
}

input.settings {
  width: 40px;
  padding: 5px;
  text-align: center;
  margin: 0 8px;
}

span {
  width: 82px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#startBtn {
  width: 150px;
  padding: 10px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  border: 1px solid #4B0082;
  border-radius: 20px;
  background-color: #4B0082;
  cursor: pointer;
}

#state {
  padding: 40px 0;
  font-size: 33px;
  color: #1f8b2e;
  letter-spacing: 6px;
}

#countdown {
  padding: 40px 0;
  font-size: 26px;
  color: #4b0082;
  letter-spacing: 6px;
  text-align: center;
}

#cancel-btn {
  width: 150px;
  padding: 10px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  border: 1px solid #4B0082;
  border-radius: 20px;
  background-color: #de3163;
  cursor: pointer;
}
